body {
    background-color: #eee5;
    /* background-color: beige; */
}

h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.cont-logo img {
	max-height: 50px;
	width: 50px;
}

.cont-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.cont-logo {
	margin: auto;
	width: 50px;	
}

.nave {
	background-color: #ee6e73;
}
